<section class="m-10 p-10 flex flex-col items-center">

  <div>
  <br>
    Autor <%=@article.user.profile.name %> ,
    <%= @article.created_at.strftime("%A %d %B %Y") %>
  <br>
  </div>

  <h1 class="main-title mb-1">
  <br>
    <%= @article.name %>
  <br>
  <br>
  <br>
  <br>
  </h1>

  <div>
    <br>
    <%= @article.description %>
    <br>
  </div>

  <div class="flex flex-col items-center justify-center text-center">
    <%= @article.body %>
  </div>

  <% if current_user == @article.user || current_user.profile.admin? %>
    <div class="flex gap-10">
      <%= link_to 'Edit article', article_edit_path(@article), class:"btn-primary bg-blue-800" %>
      <%= button_to 'Delete article', article_destroy_path(@article), class:"btn-primary bg-red-800",
          method: :delete, form: { data: { turbo_confirm: 'Estas seguro?' } } %>
    </div>
  <% end %>

  <div class="w-full">
    <h4 class="font-bold text-lg mt-10">Comments</h4>

    <div class="my-5">
      <% @article.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    </div>
  </div>

  <div class="w-full">
    <h5 class="font-semibold mt-10">Add comment</h5>
    <%= render 'comments/form', {article: @article, comment: @comment} %>
  </div>
</section>
