<nav class="flex justify-between p-3 bg-blue-900">
  <ul class="flex gap-2 items-center">
    <li class="font-bold text-lg text-white"> <%= link_to 'Rails App', root_path %> </li>
    <% if current_user && current_user.profile.present? %>
      <li> <%= link_to 'Noticias', articles_path, class: "btn-primary" %> </li>
      <li> <%= link_to 'Subir Noticia', articles_new_path, class: "btn-primary" %> </li>
    <% end %>
  </ul>

  <ul class="flex gap-2 items-center">
    <% if current_user && current_user.profile.present? %>
      <li> <%= button_to 'Cerrar Sesion', logout_path, method: :delete, class: "btn-primary bg-red-700" %> </li>
      <li> <%= link_to current_user.profile.name, profiles_path(current_user.id), class: "btn-primary" %> </li>
    <% else %>
      <li> <%= link_to 'Iniciar Sesion', login_path, class: "btn-primary bg-green-700" %> </li>
      <li> <%= link_to 'Registro', signup_path, class: "btn-primary bg-blue-600" %> </li>
    <% end %>
  </ul>
</nav>
